#bg-land,
#bg-sea,
#county-map {
  /* border: 2px solid blue; */
  position: absolute;
  transition: all 0.5s ease-out;

  /* border: 2px solid salmon; */
  margin-top: 20%;
  height: 409px;
  width: 523px;
  background-repeat: no-repeat;
  background-size: contain;
}
#bg-land {
  z-index: -10;
  background-image: url('./images/maps/coMaps/bgLand.png');
}
#bg-sea {
  z-index: 10;
  background-image: url('./images/maps/coMaps/bgSea.png');
}
#county-map {
  z-index: 20;
  background-image: url('./images/maps/coMaps/antrim.png');
}

#location-description {
  color: rgb(184, 168, 168);
  margin: 5px;
  text-align: center;
  font-size: 4em;
  font-family: aonchlo;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
